@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-vcneph');
	src:url('../fonts/icomoon.eot?#iefix-vcneph') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-vcneph') format('woff'),
		url('../fonts/icomoon.ttf?-vcneph') format('truetype'),
		url('../fonts/icomoon.svg?-vcneph#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e635";
}
.icon-image:before {
	content: "\e603";
}
.icon-play:before {
	content: "\e616";
}
.icon-film:before {
	content: "\e636";
}
.icon-camera:before {
	content: "\e617";
}
.icon-stack:before {
	content: "\e618";
}
.icon-tag:before {
	content: "\e637";
}
.icon-tags:before {
	content: "\e638";
}
.icon-barcode:before {
	content: "\e639";
}
.icon-cart:before {
	content: "\e63a";
}
.icon-coin:before {
	content: "\e63b";
}
.icon-credit:before {
	content: "\e63c";
}
.icon-phone:before {
	content: "\e63d";
}
.icon-phone-hang-up:before {
	content: "\e63e";
}
.icon-address-book:before {
	content: "\e63f";
}
.icon-message:before {
	content: "\e634";
}
.icon-location:before {
	content: "\e602";
}
.icon-location2:before {
	content: "\e619";
}
.icon-alarm:before {
	content: "\e61a";
}
.icon-bell:before {
	content: "\e61b";
}
.icon-calendar:before {
	content: "\e640";
}
.icon-print:before {
	content: "\e641";
}
.icon-mobile:before {
	content: "\e642";
}
.icon-mobile2:before {
	content: "\e643";
}
.icon-tablet:before {
	content: "\e644";
}
.icon-bubble:before {
	content: "\e61c";
}
.icon-user:before {
	content: "\e61d";
}
.icon-user2:before {
	content: "\e61e";
}
.icon-spinner:before {
	content: "\e61f";
}
.icon-search:before {
	content: "\e631";
}
.icon-zoomin:before {
	content: "\e632";
}
.icon-zoomout:before {
	content: "\e633";
}
.icon-key:before {
	content: "\e645";
}
.icon-settings:before {
	content: "\e620";
}
.icon-conf:before {
	content: "\e604";
}
.icon-cog:before {
	content: "\e646";
}
.icon-hammer:before {
	content: "\e647";
}
.icon-pie:before {
	content: "\e621";
}
.icon-stats:before {
	content: "\e622";
}
.icon-remove:before {
	content: "\e623";
}
.icon-briefcase:before {
	content: "\e624";
}
.icon-airplane:before {
	content: "\e648";
}
.icon-road:before {
	content: "\e649";
}
.icon-target:before {
	content: "\e625";
}
.icon-menu:before {
	content: "\e605";
}
.icon-cloud-download:before {
	content: "\e626";
}
.icon-upload:before {
	content: "\e606";
}
.icon-thumbs-up:before {
	content: "\e64a";
}
.icon-happy:before {
	content: "\e627";
}
.icon-smiley:before {
	content: "\e628";
}
.icon-sad:before {
	content: "\e629";
}
.icon-warning:before {
	content: "\e62a";
}
.icon-cancel-circle:before {
	content: "\e62b";
}
.icon-checkmark-circle:before {
	content: "\e62c";
}
.icon-alert:before {
	content: "\e607";
}
.icon-close:before {
	content: "\e608";
}
.icon-check:before {
	content: "\e609";
}
.icon-minus:before {
	content: "\e600";
}
.icon-plus:before {
	content: "\e601";
}
.icon-play2:before {
	content: "\e62d";
}
.icon-up-left:before {
	content: "\e60a";
}
.icon-up:before {
	content: "\e60b";
}
.icon-up-right:before {
	content: "\e60c";
}
.icon-right:before {
	content: "\e60d";
}
.icon-down-right:before {
	content: "\e60e";
}
.icon-down:before {
	content: "\e60f";
}
.icon-down-left:before {
	content: "\e610";
}
.icon-left:before {
	content: "\e611";
}
.icon-share:before {
	content: "\e612";
}
.icon-mail:before {
	content: "\e62e";
}
.icon-googleplus:before {
	content: "\e613";
}
.icon-facebook:before {
	content: "\e614";
}
.icon-twitter:before {
	content: "\e615";
}
.icon-tux:before {
	content: "\e64b";
}
.icon-apple:before {
	content: "\e64c";
}
.icon-android:before {
	content: "\e64d";
}
.icon-windows8:before {
	content: "\e64e";
}
.icon-file-pdf:before {
	content: "\e62f";
}
