{% extends "index.html" %}

{% block header %}
	<header class="header relative border-bottom">
		<div class="logo">
			<div class="wrap center-block">
				<figure class="image isotipo left">
					<img src="/media/logo.jpg" alt="autocontrol"/>
				</figure>
			</div>
		</div>
		<a href="" class="button-menu icon-menu"></a>
		<nav class="menu">
			<ul class="list center-block wrap">
				<li class="item">
					<a href="/">Inicio</a>
				</li>
				<li class="item">
					<a href="#">Servicios</a>
				</li>
				<li class="item">
					<a href="#">Quienes Somos</a>
				</li>
				<li class="item">
					<a href="#">Contáctenos</a>
				</li>
			</ul>
		</nav>
		<div class="create-count">
			<div class="registro right">
				<a href="/login" class="link-item login-btn ">ingresar</a>
				<a href="#" class="link-item singup-btn">Registro</a>
			</div>
		</div>
		<div class="title">
			<span>
				AutoControl
			</span>
		</div>
	</header>
{% endblock %}
{% block body %}
<section class="banner">
		<figure>
			<img src="/media/template/carBannerP.png" width="900">
		</figure>
	</section>
	<section class="footer">
		<div class="information left">
			<div class="information-detail">
				<h2>tittle</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi excepturi itaque, doloribus placeat vel aperiam aliquid amet eos adipisci. Error saepe ducimus, est porro aspernatur vel tempore itaque cum illum.</p>
			</div>
		</div>
		<div class="information left">
			<div class="information-detail">
				<h2>tittle</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi excepturi itaque, doloribus placeat vel aperiam aliquid amet eos adipisci. Error saepe ducimus, est porro aspernatur vel tempore itaque cum illum.</p>		
			</div>
		</div>
		<div class="information left">
			<div class="information-detail">
				<h2>tittle</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi excepturi itaque, doloribus placeat vel aperiam aliquid amet eos adipisci. Error saepe ducimus, est porro aspernatur vel tempore itaque cum illum.</p>
			</div>
		</div>
		
	</section>
{% endblock %}