<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Document</title>
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body>
	{% block header %}
	
	{% endblock %}
	{% block body %}


	{% endblock %}
</body>
<footer>
	<div class="content-social">
		<div class="social">
				<span class="icon-facebook font-social"></span>
				<span class="icon-twitter font-social"></span>
				<span class="icon-googleplus font-social"></span>
				<span class="icon-apple font-social"></span>
				<span class="icon-windows8 font-social"></span>
				<span class="icon-android font-social"></span>
				<center><span>Copy right </span></center>
		</div>
	</div>
</footer>
</html>